@import '../shared.scss';

#bmfooter {
    background-color: $primary;
    border: 1px solid gray;
    padding: 4rem  0 1rem 0;

    .columnsContainer {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 80%;

        div {
            color: white;
            font-size: 1rem;
            padding: 0 3rem;
            width: 30%;

            p {
                line-height: 1.5rem;
            }
        }
    }

    h3 {
        color: white;
        text-align: center;
        font-weight: 400;
        font-size: 1.1rem;
    }
}

.firstColumn {
    display: flex;
    
    width: 40% !important;
    padding: 0 !important;

    p {
        margin-left: 2rem;
        width: 60%;
    }

    img {
        margin: 0 !important;
        width: 120px !important;
        height: 120px;
    }
}

.middleColumn {
    border-left: 2px solid rgba(255, 255, 255, 0.795);
    border-right: 2px solid rgba(255, 255, 255, 0.795);

    p {
        margin: 0.2rem 0;
    }
}
